name: build
on: push
jobs:
  build-18-8:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
      - run: sudo apt-get update && sudo apt-get install openjdk-8-jdk maven && mvn clean install --batch-mode
  build-18-11:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
      - run: sudo apt-get update && sudo apt-get install openjdk-11-jdk maven && mvn clean install --batch-mode
  build-20-8:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v1
      - run: sudo apt-get update && sudo apt-get install openjdk-8-jdk maven && mvn clean install --batch-mode
  build-20-11:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v1
      - run: sudo apt-get update && sudo apt-get install openjdk-11-jdk maven && mvn clean install --batch-mode
  build-20-14:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v1
      - run: sudo apt-get update && sudo apt-get install openjdk-14-jdk maven && mvn clean install --batch-mode
